<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, magni, quibusdam adipisci ratione ad
                beatae at minus exercitationem doloribus quos consequatur facere sed perferendis, perspiciatis eligendi
                dolore et cum iusto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ab aperiam
                minima, soluta inventore dolorem sequi quas earum labore in perspiciatis! Accusamus earum porro, soluta
                deserunt quos mollitia a at? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta cum
                nesciunt quis dicta itaque, iusto ab, totam dolore esse voluptatibus voluptas, aut ullam omnis quos
                earum nemo unde ipsa qui!
            </p>
        </div>
    </div>
</div>

<div class="parallax w-100"></div>

<div class="row mt-5 mb-5 w-100">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>